@page
@model FinalProject.Front.Pages.Certificates.BuyModel
@{
    ViewData["Title"] = "Buy";
}

<h1 class="mt-4">Buy</h1>

<h4>Buy Certificate</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            @* Ensure UserCertificate is initialized before accessing its properties *@
            @if (Model.UserCertificate != null)
            {
                <input type="hidden" asp-for="UserCertificate.Id" />
            }

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buy</button>
            </div>
        </form>
    </div>
</div>

<hr />

<a class="btn btn-secondary" asp-page="/Certificates/Index">Back to List</a>
