@page
@model FinalProject.Front.Pages.Certificates.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h1>Create New Certificate</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Certificate.Title" class="control-label"></label>
				<input asp-for="Certificate.Title" class="form-control" />
				<span asp-validation-for="Certificate.Title" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

</hr>

<a class="btn btn-primary" asp-page="/Certificates/Index">Back to List</a>


