@page
@model FinalProject.Front.Pages.Certificates.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h1>Create New Certificate</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
	<div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Title">Title:</label>
                <input type="text" class="form-control" id="Title" name="Title" required />
            </div>
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" id="Description" name="Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="Cost">Cost:</label>
                <input type="number" class="form-control" id="Cost" name="Cost" required />
            </div>
            <div class="form-group">
                <label for="Image">Upload Image:</label>
                <input type="file" class="form-control-file" id="UploadedImage" name="UploadedImage" />
            </div>
            <button type="submit" class="btn btn-primary">Create Certificate</button>
		</form>
	</div>
</div>

</hr>

<a class="btn btn-primary" asp-page="/Certificates/Index">Back to List</a>


