@page
@model FinalProject.Front.Pages.Certificates.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Certificate Details</h1>

<div>
    <h2>@Model.Certificate.Title</h2>
    <p>@Model.Certificate.Description</p>
    <p>Cost: $@Model.Certificate.Cost</p>

    @{
        // Assuming ImageUrl contains the URL to fetch the image
        byte[] imageData = Model.ImageUrl;
    }

    @if (imageData != null && imageData.Length > 0)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(imageData)" alt="Certificate Image" />
    }
    else
    {
        <p>Error: No image available</p>
    }
</div>
<p>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Certificate.Id">Edit</a>
    <a class="btn btn-primary" asp-page="./Index">Back to List</a>
</p>