@page
@model FinalProject.Front.Pages.Certificates.GenerateCertificateModel
@{
}

<html>
<body >
    <div id="contentframe">
    <div  style="  color: black;
                display: table;
                font-family: Georgia, serif;
                font-size: 24px;
                text-align: center;">
    <div style=" border: 20px solid tan;
                width: 800px;
                height: 563px;
                display: table-cell;
                vertical-align: middle;">
        <div style="color: tan;">
                CertNow
            </div>

        <div style=" color: tan;
                font-size: 48px;
                margin: 20px;">
                Certificate of Completion
            </div>

        <div style=" margin: 20px;">
                This certificate is presented to
            </div>

        <div style="border-bottom: 2px solid black;
                font-size: 32px;
                font-style: italic;
                margin: 20px auto;
                width: 400px;">
                @User.Identity.Name
            </div>

        <div style="  margin: 20px;">
                For completing @Model.Certificate.Title
            </div>
        </div>
    </div>
    </div>
    </body>
<br />
</html>
<button onclick="printDiv('contentframe');">Generate PDF</button>

@section Scripts
        {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function printDiv(divName) {

            var element = document.getElementById(divName);
            html2pdf(element);
        }
    </script>
}