@page
@model FinalProject.Front.Pages.Certificates.IssueCertificateModel
@{
}
<h1>Issue Certificate</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="Candidate.FirstName" class="control-label"></label>
				<input asp-for="Candidate.FirstName" class="form-control" />
				<span asp-validation-for="Candidate.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Candidate.LastName" class="control-label"></label>
				<input asp-for="Candidate.LastName" class="form-control" />
				<span asp-validation-for="Candidate.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Certificate.Title" class="control-label"></label>
				<input asp-for="Certificate.Title" class="form-control" />
				<span asp-validation-for="Certificate.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Certificate.Description" class="control-label"></label>
				<input asp-for="Certificate.Description" class="form-control" />
				<span asp-validation-for="Certificate.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Exam.CandidateScore" class="control-label"></label>
				<input asp-for="Exam.CandidateScore" class="form-control" />
				<span asp-validation-for="Exam.CandidateScore" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<hr />