@page
@model FinalProject.Front.Pages.Candidates.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Candidate</h1>

<div class="alert alert-danger" role="alert">
    <h3>Are you sure you want to delete this user?</h3>
    <p>
        <strong>@Model.Candidate.FirstName @Model.Candidate.LastName</strong><br />
        Email: @Model.Candidate.Email
    </p>
</div>

<form method="post">
    <input type="hidden" asp-for="Candidate.Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="./Index">Cancel</a>
    </div>
</form>
