@page
@model FinalProject.Front.Pages.Exams.AddQuestionsModel
@{
}

<div class="row">
	<div class="col-md-4">
		<form method="post">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
				<h2>You have to sumbit @{int i= AddQuestionsModel.NumberOfQuestions();}@i more questions:
				</h2>
					<label asp-for="Question.QuestionText" class="control-label">Question</label>
					<input asp-for="Question.QuestionText" class="form-control" />
					<span asp-validation-for="Question.QuestionText" class="text-danger"></span>
			</div>
			<div class="form-group">
					<label asp-for="Question.AnswerA" class="control-label">Answer A</label>
					<input asp-for="Question.AnswerA"  class="form-control" />
					
					<span asp-validation-for="Question.AnswerA" class="text-danger"></span>
			</div>
			<div class="form-group">
					<label asp-for="Question.AnswerB" class="control-label">Answer B</label>
					<input asp-for="Question.AnswerB"  class="form-control" />
					<span asp-validation-for="Question.AnswerB" class="text-danger"></span>
			</div>
						<div class="form-group">
					<label asp-for="Question.AnswerC" class="control-label">Answer C</label>
					<input asp-for="Question.AnswerC"  class="form-control" />
					<span asp-validation-for="Question.AnswerC" class="text-danger"></span>
			</div>
				<div class="form-group">
					<label asp-for="Question.AnswerD" class="control-label">Answer D</label>
					<input asp-for="Question.AnswerD"  class="form-control" />
					<span asp-validation-for="Question.AnswerD" class="text-danger"></span>
				</div> 
 				<div class="form-group">
					<label asp-for="Question.CorrectAnwser" class="control-label">Correct Anwser</label>
					<input asp-for="Question.CorrectAnwser" class="form-control" />
					<span asp-validation-for="Question.CorrectAnwser" class="text-danger"></span>
				</div>
				<hr/>
			
			<div class="form-group">
				<input type="Submit" value="Submit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>