@page
@model FinalProject.Front.Pages.Exams.ChooseCertifcateModel
@{
}

<h1>Choose the cerificate you wish to create an Exam for:</h1>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var certificate in Model.Certificates)
		{
			<tr>
				<td>@certificate.Id</td>
				<td>@certificate.Title</td>

				<td>

					<a asp-page="./CreateExam" asp-route-id="@certificate.Id">Create Exam</a>
				</td>
			</tr>
		}
	</tbody>
</table>