@page
@model FinalProject.Front.Pages.Exams.ExamResultsModel
@{
}
<h1>Exam Results:</h1>

<h2>Your percentage score is @Model.Exam.CandidateScore %</h2>
@if (Model.Exam.Result)
{
	<p>Congratulations you have passed the exam.</p>
}
else
{
	<p>Unfortunately you have failed the exam.</p>
}

<p>Evaluation maybe subject to change after it has been reviewed by a marker.</p>
<p>Your Cerfication will be ready in two to three business days after the evaluation.</p>