@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: #f8f9fa; /* Light Gray background color */
        font-family: 'Arial', sans-serif; /* Change font family */
    }

    h1 {
        color: #007bff; /* Blue color for headings */
        text-align: center;
    }

    p {
        font-size: 18px; /* Increase font size for better readability */
        line-height: 1.5; /* Adjust line height for better spacing */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt justo eu lectus luctus, vel fringilla
    odio malesuada. Vestibulum ultricies augue id urna gravida, eu dapibus justo varius. Integer hendrerit semper nunc
    in dapibus. Nullam a tellus eu elit facilisis volutpat. Quisque eleifend commodo lectus ac consectetur. Sed id
    metus a arcu tristique vehicula.
</p>

<p>
    Duis ac tortor a felis vestibulum consequat. Nulla facilisi. Morbi semper neque et velit fringilla, nec malesuada
    ligula ultricies. In hac habitasse platea dictumst. Duis vel commodo lectus. Curabitur eleifend, mauris at tempus
    cursus, dui elit aliquam tellus, vel sodales arcu sem vel justo.
</p>

<p>
    Proin euismod odio nec elit auctor venenatis. Fusce nec elit vel dolor pellentesque posuere. Vivamus scelerisque
    facilisis ligula, in venenatis lacus elementum vel. Integer auctor augue in odio vehicula, nec aliquet lacus
    ultrices. Sed hendrerit, ipsum non cursus aliquet, est dui feugiat elit, ut eleifend nisl lacus ut sapien.
</p>